/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    background: #FFF;
    font-family: verdana;
    font-size: 13px;
}

h1, h2 {
    font-family: "Times New Roman";
    font-weight: normal;
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 1.2em;
}

ul {
}

ul li {
}

p {
}

a {
}

#container {
    margin: 0 auto;
    width: 600px;
    border: 1px solid #CECAB9;
}

#topbar {
    text-align: right;
    background: #51473D url("pics/coffey.jpg") no-repeat bottom;
    height: 215px;
    color: #EAE7D2;
    font-size: 11px;
    font-style: italic;
    padding: 2px;
}

#menu {
}

li.active {
}

#content {
}

#maincontent {
    width: 300px;
    float: left
}

#subcontent {
    float: right;
    width: 200px;
}

#subcontent h1 {
    font-size: 1.4em;
}

#subcontent p {
}

#bottomcontent {
    clear: both;
}