/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    background: #FFF;
    font-family: verdana;
    font-size: 13px;
}

h1, h2 {
    font-family: "Times New Roman";
    font-weight: normal;
    margin: 0;
    padding: 10px 0 10px 0;
}

h1 {
    font-size: 2.5em; 
    color: #797066;
}

h2 {
    font-size: 1.2em;
    color: #51473D;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#container {
    margin: 0 auto;
    width: 600px;
    border: 1px solid #CECAB9;
}

#topbar {
    text-align: right;
    background: #51473D url("pics/coffey.jpg") no-repeat bottom;
    height: 215px;
    color: #EAE7D2;
    font-size: 11px;
    font-style: italic;
    padding: 2px;
}

#menu {
    background: #51473D;
    text-transform: capitalize;
    padding-left: 10px;
    padding-top: 5px;
}

#menu a {
    color: #EAE7D2;
    text-decoration: none;
    font-size: 12px;
}

#menu ul {
    margin-top: 5px;
}

#menu ul li {
    display: inline-block;
    background: #797066;
    padding: 10px 20px;
    margin-right: -4px;
}

#menu ul li:hover {
    background: #9C9084;
}

#menu ul li.active {
    background: #EAE7D2;
}

#menu ul li.active a {
    color: #797066;
}

#content {
    background: #EAE7D2;
    padding: 10px;
}

#maincontent {
    width: 300px;
    float: left;
}

#subcontent {
    float: right;
    width: 200px;
}

#subcontent h1 {
    font-size: 1.4em;
    color: #51473D;
}

#subcontent p {
}

#bottomcontent {
    clear: both;
}